.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 44px; /* Adjust size as needed */
    height: 44px; /* Adjust size as needed */
    margin-top: -22px; /* Adjust to center vertically */
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.swiper-button-prev {
    left: 10px; /* Adjust position as needed */
}

.swiper-button-next {
    right: 10px; /* Adjust position as needed */
}

.swiper-button-prev img, .swiper-button-next img {
    width: 100%;
    height: 100%;
}
