.section {
    padding: 20px;
}

.sectionTitle{
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.sectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
}

.collapseBtn{
    color: var(--color-primary) !important;
    margin-bottom: 20px !important;
    font-weight: bold !important;
}